.wrapper {
  width: 70%;
  margin: 0 auto;
}
.wrapper > h1 {
}
.wrapper > h3 {
}
form {
}
form > .user-type-radios {
  display: flex;
  flex-direction: row;
}
form > .user-type-radios > label {
  margin: 1rem 0rem;
  user-select: select none;
}
form > .user-type-radios input {
}

form > .form-group {
  display: flex;
  flex-direction: column;
}

form > .submit-button {
  font-family: "Montserrat";
  padding: 0.5rem 1rem;
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  border: 2px solid #2196f3;
  margin: 2rem 0 0 0;
  transition: background-color, color 0.3s ease;
  font-size: 1.1rem;
  user-select: none;
}
form > .submit-button:hover {
  background-color: white;
  color: #2196f3;
  cursor: pointer;
}
/* The container */
.radio_button {
  display: block;
  position: relative;
  padding: 0px 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  margin: 0 0.5rem 0 0;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_button input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_button .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.text_button {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #2196f3;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #2196f3;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
small {
  margin: 1rem 0 0 0;
}
small a {
  color: #2196f3;
  text-decoration: none;
}
small a:hover {
  color: #0a6ebd;
  text-decoration: underline;
}
