.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2195f367;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup > .popup_wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 2rem;
  position: relative;
  overflow: auto;
  max-height: 80vh;
}
.popup_wrapper > .close_popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  position: absolute;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  top: 0.5rem;
  right: 0.5rem;
}

.popup_wrapper > .change_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}
.change_wrapper .change_group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
.change_wrapper .change_group label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: 0.2s;
  font-size: 1rem;
  align-self: center;
  color: #9b9b9b;
}
.change_wrapper .change_group label:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #2196f3;
}
.change_wrapper .change_group input[type="date"] {
  user-select: none;
}
.change_wrapper .change_group input,
.change_wrapper .change_group select {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 0 0 0;
  margin: 0 0 0.4rem 0;
  background: transparent;
  transition: border-color 0.2s;
}
.change_wrapper .change_group input:focus ~ label,
.change_wrapper .change_group select:focus ~ label {
  transition: 0.2s;
  font-size: 1rem;
  color: #2196f3;
  font-weight: 700;
}
.popup_wrapper > .popup_submit {
  margin: 1rem 0 0 0;
  align-self: center;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
